<div class="container">
  <div class="d-flex justify-content-around">
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae esse aliquam veritatis distinctio dolorem explicabo nobis quibusdam, temporibus ipsam exercitationem ducimus sapiente et sint odio, porro, repellat cumque. Doloribus, natus.</p>
    </div>
    <div>
      <%= image_tag "cabine1.jpg", alt: "Cabine Quiiet", class: :image_home %>
    </div>
  </div>
</div>


